body{
    background-color: 	#444444
}
.main{
    /* border: 2px solid black; */
    border-radius: 10px;
    width: 500px;
    padding: 4px;
    margin-left: 25px;
    margin-top: 50px;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: #171717;
    color: #DDDDDD;
    
} 
table{
    border: 1px solid black;
    color: #DDDDDD;
    

}
 
th, td{
    border: 1px solid black;
    height: 20px;
    /* background-color: white; */
    color: #DDDDDD;
    
}


#null{
    color: red;
}